#header.container
  %div.header_left
    %ul#primary_menu
      %li.top_menu_item= link_to 'Parse', newses_load_path
      %li.top_menu_item= link_to 'Parse last', newses_load_last_path
      %li.top_menu_item= link_to 'Twits', twit_index_path
      %li.top_menu_item= link_to 'Canvas', t_canvas_index_path
      %li.top_menu_item= link_to 'Graphics and diagrams', t_canvas_build_path
    .clear

  %div.header_right
    %div.auth_div
      - unless user_signed_in?
        =link_to 'Registrate', new_user_registration_path
        or
        =link_to 'authorize', new_user_session_path
      - else
        =link_to 'exit', destroy_user_session_path, :method => "DELETE"

    %div.search_div
      = form_for :search, :url => request_search_index_path, :method => 'GET', :html => {:id => 'search_form'} do |f|
        = f.text_field 'search', :size => '20'
        = f.submit 'Search'
  .clear