!!!
%html{:dir => "ltr", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Sphinx
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    = javascript_include_tag :application
    = stylesheet_link_tag :application
    = csrf_meta_tag
  %body
    #body_content.container
      #content
        = render :partial => 'layouts/header'
        %table.content
          %tr
            %td.side_panel
              = render :partial => 'layouts/side_menu', :locals => {:items => @categories, :selected_category => @curr_category, :selected_topic => @curr_topic }
            %td.container
              = yield
      = render :partial => 'layouts/footer'